services:                      

  postgres:                       
    image: postgres:15-alpine     # PostgreSQL Docker image version 15 based on Alpine Linux (lightweight and fast)

    container_name: bot_db 
    environment:                  # Environment variables read by PostgreSQL during initialization
      POSTGRES_DB: ${DB_NAME}     
      POSTGRES_USER: ${DB_USER}   
      POSTGRES_PASSWORD: ${DB_PASSWORD}

    healthcheck:                  # Container health check (healthy / unhealthy)
      test:                       # Command executed to perform the check
        ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
        # pg_isready — PostgreSQL utility
        # checks whether the database is accepting connections
        # $$ — escaping so Docker does not substitute variables too early

      interval: 10s               # How often to run the check (every 10 seconds)
      timeout: 5s                 # Maximum time to wait for a response
      retries: 5                  # Number of consecutive failed checks allowed

    ports:                        
      - "5432:5432"               # localhost:5432 → container:5432 (default PostgreSQL port)

    volumes:                     
      - postgres_data:/var/lib/postgresql/data
      # Named volume (persistent storage) for PostgreSQL data
     
  
  redis: #redis service for rate limiting
    image: redis:7-alpine    # Redis Docker image version 7 based on Alpine Linux
    container_name: bot_redis
    ports:
      - "6379:6379"
volumes:                          
  postgres_data:                 
